.todo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.todo > button {
  padding: 1px 8px;
  border: none;
  background-color: rgb(255, 66, 32);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
}

.todo > span {
  font-size: 18px;
}
